  
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');   

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona one', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-tercearia);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.container {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    gap: 82px;
}

.conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.perfil {
    width: 50%;
    box-shadow: 5px 5px 10px rgba(145, 144, 144, 0.363);
    border-radius: 10px;
}

.titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.titblue {
    color: var(--cor-tercearia);
}

.paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.subt {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.botoes:hover {
    background-color: #272727
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    border: 2px solid var(--cor-tercearia);
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria) ;
    font-family: var(--fonte-secundaria);
    
}

.rodape {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
    text-align: center;
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
   
    .container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .conteudo {
        width: auto;
    }
}